@import "tailwindcss";
@source "../views";

@layer base {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body,
    input,
    textarea,
    button {
        font-size: 1rem;
        font-weight: normal;
        -wekbit-font-smoothing: antialiased;
        font-family: "Roboto", sans serif;
    }

    .swiper-pagination {
        /* position: relative !important; */
        /* top: unset !important; */
        bottom: 0 !important;
        /* left: unset !important; */
        /* right: unset !important; */
        /* transform: unset !important; */
    }

    .swiper-pagination-bullet {
        background: #4b5563 !important;
    }

    .swiper-pagination-bullet-active {
        width: 32px !important;
        border-radius: 6px !important;
    }
}
